

.bodyAmor{
    background: url("coracao.jpg") no-repeat fixed center;
    height: 100%;
    width : 100%;

}

.h1Amor{
    padding: 50px;

}

/*.divAmor{*/
/*    background: url("coracao.jpg") no-repeat fixed center;*/
/*    height: 100%;*/
/*    width : 100%;*/
/*}*/