*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  align-items: center;
  text-align: center;
  background: url("./imagens/caveiraCelular.jpg") fixed;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.link{
  color: white;
  background-color: black;
}

.div1{
  background-color: white;
}

.linkAmor{

  color: #FFFFFF;
  background-color: blueviolet;
  font-size: 25px;
  text-decoration: none;

}


/*.img{*/
/*  background: url("/imagens/coracao.jpg");*/
/*}*/
